.muro {
  height: 100%;
  max-height: 80vh;
  width: 45rem;
  border: none;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0.5rem;
  border-radius: 6px;
  background-color: $lightText;
  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $colorMain;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $colorMain;
  }
}
